.vscode/
docs/build/
docs/.sourcetemplate/
docs/readability/
docs/source/_themes/readthedocs/
docs/source/_themes/sphinx_rtd_theme/
docs/etc/
docs/.travis.yml
docs/crowdin.yaml
docs/Gruntfile.js
docs/README.md
docs/package.json
docs/assets/
docs/make.bat
docs/requirements.txt
docs/source/*
!docs/source/_static
!docs/source/_templates
!docs/source/_themes
!docs/source/conf.py
!docs/source/index.rst
!docs/source/Mineflare.net/
!docs/source/locales/
!docs/source/Bans/
!docs/source/Návody/
!docs/source/Pravidla/
.vscode/settings.json
*kopie*
