name: docs_pages_workflow
 
# execute this workflow automatically when a we push to master
on:
  push:
 
jobs:
 
  build_docs_job:
    runs-on: self-hosted
    container: debian:buster-slim
 
    steps:
    
    - name: Clean working directory
      shell: bash
      run: |
        echo "Cleaning up previous run"
        rm -rf "${{ github.workspace }}"
 
    - name: Prereqs
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        apt-get update
        apt-get install -y git
        git clone "https://token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git" .
      shell: bash
 
    - name: Execute script to build our documentation and update pages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: "docs/buildDocs.sh"
      shell: bash
      
    - name: Clean working directory
      if: ${{ always() }}
      shell: bash
      run: |
        echo "Cleaning up previous run"
        rm -rf "${{ github.workspace }}"
 

